* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
    background: #fff8fb;
    color: #594650;
}

/* Header */
header {
    padding: 25px 8%;
    background: #f7dce7;
    border-bottom: 1px solid #edbfd1;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #a95377;
}

header p {
    margin: 8px 0;
    color: #795866;
}

/* Welcome */
.welcome {
    width: 85%;
    margin: 45px auto;
    padding: 45px;
    background: #fff0f5;
    border: 1px solid #edc9d6;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome-text {
    width: 70%;
}

.small-heading,
.service-heading p {
    color: #b45b7d;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2px;
}

.welcome h1 {
    font-size: 50px;
    color: #573f49;
}

.welcome h1 span {
    color: #c96f91;
}

.welcome-icon {
    width: 120px;
    height: 120px;
    background: #e8abc2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 55px;
    color: white;
}

/* Services Heading */
.service-heading {
    width: 85%;
    margin: auto;
}

.service-heading h2 {
    color: #573f49;
}

/* Service Cards */
.services {
    width: 85%;
    margin: 25px auto;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 20px;
}

.card {
    padding: 30px;
    border: 1px solid #e8cbd6;
    border-radius: 20px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px #ead3dc;
}

.card-top {
    display: flex;
    justify-content: space-between;
}

.card-top span {
    color: #a76b81;
}

.icon {
    font-size: 42px;
}

.card h2 {
    color: #674452;
}

.card p {
    line-height: 1.6;
}

.big-card {
    grid-row: span 2;
    background: #fce5ee;
}

.big-card .icon {
    font-size: 100px;
}

.pink-card {
    background: white;
}

.lavender-card {
    background: #f1edfa;
}

/* Learn More */
details {
    margin-top: 20px;
}

summary {
    display: inline-block;
    padding: 9px 16px;
    background: #c96f91;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

summary:hover {
    background: #a95377;
}

.more-text {
    padding: 10px;
    background: white;
    border-radius: 8px;
}

/* Contact */
.contact-card {
    grid-column: 1 / 3;
    padding: 35px;
    background: #e9ddf5;
    border: 1px solid #d7c8e8;
    border-radius: 20px;
    display: flex;
    gap: 40px;
    align-items: center;
}

.contact-card > div {
    width: 45%;
}

.contact-card form {
    width: 55%;
}

input,
textarea {
    width: 100%;
    padding: 11px;
    margin: 10px 0;
    border: 1px solid #cdbbd9;
    border-radius: 8px;
}

textarea {
    height: 90px;
}

button {
    padding: 11px 20px;
    background: #b45b7d;
    color: white;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background: #934763;
}

/* Footer */
footer {
    margin-top: 50px;
    padding: 22px;
    text-align: center;
    background: #f7dce7;
    color: #795866;
}

/* Mobile */
@media (max-width: 700px) {

    .welcome {
        flex-direction: column;
        text-align: center;
        padding: 30px;
    }

    .welcome-text {
        width: 100%;
        
    }

    .welcome h1 {
        font-size: 30px;
    }

    .welcome-icon {
        margin-top: 20px;
        width: 90px;
        height: 90px;
        font-size: 40px;
    }

    .services {
        display: block;
    }

    .card,
    .contact-card {
        margin-bottom: 20px;
    }

    .contact-card {
        display: block;
    }

    .contact-card > div,
    .contact-card form {
        width: 100%;
    }

    button {
        width: 100%;
    }
}